Mongoose.app/Contents/Info.plist
Mongoose.app/Contents/MacOS/Mongoose
Mongoose.app/Contents/Resources/logo.png
Mongoose.app/Contents/Resources/mongoose.icns
tp1/CGFCode-tp1-3.5.zip
tp1/CGFCode-tp1-4.10.zip
tp1/CGFCode-tp1-5.4.zip
tp1/CGFImage-tp1-1.1.png
tp1/CGFImage-tp1-2.4.png
tp1/CGFImage-tp1-3.4.png
tp1/CGFImage-tp1-3.5.png
tp1/CGFImage-tp1-4.10.png
tp1/CGFImage-tp1-4.3.png
tp1/CGFImage-tp1-5.4.png
tp1/ident.txt
tp1/WebCGF.tp1.zip
tp2/CGRA - TP2 - Iluminação e Materiais.pdf
tp2/WebCGF.tp2.zip
tp2/Codigo/CGFCode-tp2-T3G11-2.8.zip
tp2/Codigo/CGFCode-tp2-T3G11-3.4.zip
tp2/Codigo/CGFCode-tp2-T3G11-extra.zip
tp2/Imagens/CGFImage-tp2-T3G11-2.8.png
tp2/Imagens/CGFImage-tp2-T3G11-3.4.png
tp2/Imagens/CGFImage-tp2-T3G11-extra.png
tp2/WebCGF.tp2/28.zip
tp2/WebCGF.tp2/34.zip
tp2/WebCGF.tp2/extra.zip
tp3/CGRA - TP3 - Shading e aproximação de superfícies curvas.pdf
tp3/WebCGF.tp3.zip
tp3/Codigo/CGFCode-tp3-T3G11-1.3.zip
tp3/Codigo/CGFCode-tp3-T3G11-2.4.zip
tp3/Codigo/CGFCode-tp3-T3G11-extra.zip
tp3/Imagens/CGFImage-tp3-T3G11-1.3.png
tp3/Imagens/CGFImage-tp3-T3G11-2.4.png
tp3/Imagens/CGFImage-tp3-T3G11-extra.png
tp4/CGRA - TP4 - Aplicação de texturas.pdf
tp4/CGRA - TP5 - Animação.pdf
tp4/CGRA-TP6-ProjectoFinal-Completo.pdf
tp4/CGRA-TP6-ProjectoFinal.Parte1.pdf
tp4/CGRA-TP6-ProjectoFinal.Parte2.pdf
tp4/WebCGF.tp4/Codigo/CGFCode-tp4-T3G11-1.3.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp4-T3G11-2.3.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp4-T3G11-3.3.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp4-T3G11-extra.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp5-T3G11-1.6.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp5-T3G11-extra.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp6-T3G11-1.2.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp6-T3G11-2.1.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp6-T3G11-3.2.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp6-T3G11-4.4.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp6-T3G11-5.3.zip
tp4/WebCGF.tp4/Codigo/CGFCode-tp6-T3G11-6.9.zip
tp4/WebCGF.tp4/Imagens/CGFImage-tp4-T3G11-1.3.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp4-T3G11-2.3.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp4-T3G11-3.3.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp4-T3G11-extra.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp5-T3G11-1.6.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp5-T3G11-extra.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp6-T3G11-1.2.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp6-T3G11-3.2.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp6-T3G11-4.4.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp6-T3G11-5.3.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp6-T3G11-6.6.png
tp4/WebCGF.tp4/Imagens/CGFImage-tp6-T3G11-6.9.png
Trabalho Final/snapshot1.png
Trabalho Final/snapshot2.png
Trabalho Final/video.mov
